<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nodejs App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>Douglas Profirio Ferreira</h1>
    <h2>Aplicação rodando em Node.js</h2>
    <h3>Disciplina: Gêrencia e Configuração de Serviços para Internet</h3>
    <h4>Prof. Fábio Duarte de Oliveira</h4>
</body>
</html>